<div class="left-container">
<div class="alien-clock">
  <h2>Current Alien Time</h2>
  <div *ngIf="currentAlienTime">
    <p><strong>Year:</strong> {{ currentAlienTime.year }}</p>
    <p><strong>Month:</strong> {{ currentAlienTime.month }}</p>
    <p><strong>Day:</strong> {{ currentAlienTime.day }}</p>
    <p><strong>Hour:</strong> {{ currentAlienTime.hour }}</p>
    <p><strong>Minute:</strong> {{ currentAlienTime.minute }}</p>
    <p><strong>Second:</strong> {{ currentAlienTime.second }}</p>
  </div>
</div>
</div>